FLASK_ENV=development
SECRET_KEY=pon_una_clave_segura
DATABASE_URL=mysql+pymysql://root:Julper86@127.0.0.1:3306/etiquetar_colombia
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
CLOUDINARY_PRODUCTS_FOLDER=productos
